.app{
  text-align: center;
  background-color: #eee;
  padding: 1.5rem 0;
}
div {
  font-family: 'Arial', sans-serif;
  margin-bottom: 10px;
}

label {
  margin-right: 5px;
  font-weight: bold;
}

label:nth-child(3){

}

input[type="text"] {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
  width: 200px;
  margin-right: 10px;
}

select {
  border: 1px solid #aaa;
  border-radius: 4px;
  padding: 8px;
  background: white;
  cursor: pointer;
  /* margin-inline: 1rem; */
}

option {
  font-weight: normal;
  background: #f8f8f8;
}

p.resault {
  margin-top: 1.2rem;
  font-size: 1.2em;
  color: #333;
}

div > div {
  padding-top: 10px;
  margin-top: 10px;
}
.selectBox-container{
  display: flex;
  align-items: center;
  justify-content: center;
}
.selectBox{
  margin: 0 1.2rem;
}